*{
    font-family: 'Poppins', sans-serif;
}


#header-second {
    background-color: #5F12B6;
    height: 78px;
}

#logo-houpa {
    margin-left: 550px;
    margin-top: 10px;
}

#header {
    height: 44px;
}

#header a{
    font-size: 12px;
    height: 400;
    line-height: 18px;
}